<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281334593426-i6nesl49brbm3a6hvpttbiu7hs03efio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281334593426-i6nesl49brbm3a6hvpttbiu7hs03efio</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>281334593426-p3g9rls7smef4l94nio7daji848qq1cg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqqSFQJDf2Vrlq0OXQGWV4le65aDmqk1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>281334593426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.budgetApp2</string>
	<key>PROJECT_ID</key>
	<string>budget-app2-387fa</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-app2-387fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281334593426:ios:17d9d7ba1130fdb5c4734b</string>
</dict>
</plist>